In [181]:
# Se importan las librerías 

import pandas as pd

In [182]:
# Se instalan dependencias necesarias 

!pip install -r requirements.txt

Requirement already satisfied: openpyxl==3.1.5 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.12.1/lib/python3.12/site-packages (from openpyxl==3.1.5->-r requirements.txt (line 1)) (2.0.0)

In [183]:
# Se cargan el datasets de PIB por año y por estado

gdp_year = pd.read_excel('/workspaces/financial-data-analytics/data/US_States_GDP_by_Year.xlsx')
gdp_year.tail(10)

,Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
12,2009,168348.0,49585.9,243929.4,97058.9,1920061.8,248593.6,236393.2,56871.2,100894.6,...,36193.1,250544.4,1163401.3,113332.9,25867.8,408918.7,353632.0,62957.8,245539.0,36042.2
13,2010,174753.0,52882.5,248210.0,101690.0,1974614.5,255140.5,237653.4,57447.4,106120.3,...,37484.4,255935.8,1237196.8,117960.5,27108.4,422902.0,365551.9,65274.1,254354.1,37401.2
14,2011,181349.8,56259.9,257947.8,106085.4,2050056.8,264431.6,236523.7,60357.4,110076.2,...,41541.5,267659.1,1331220.6,124539.4,28135.1,432392.7,379539.0,68524.9,263881.6,39370.7
15,2012,186299.0,57670.1,268288.8,108745.2,2144497.3,273519.5,243801.0,61975.8,112736.5,...,43444.6,283721.8,1411378.7,128721.0,28887.4,444950.0,400863.3,69399.0,274343.9,38431.7
16,2013,191481.0,56622.8,275199.1,114251.5,2262771.2,288305.2,246632.0,60666.1,114891.0,...,44814.9,292803.9,1502249.8,134252.1,29098.8,455070.0,419345.0,71037.6,282384.6,38922.5
17,2014,194211.0,55523.4,284430.0,117336.7,2395162.3,306571.1,248865.2,66891.0,119841.0,...,46046.5,303809.0,1572818.4,141259.7,29701.3,463477.6,442201.3,71919.2,293884.6,39436.1
18,2015,200402.7,50641.6,297141.2,118761.2,2553772.2,318554.9,260072.6,70969.4,125211.9,...,47752.3,322663.6,1568457.0,149371.6,30729.6,484216.6,470329.3,70281.0,305816.5,37721.5
19,2016,203829.8,49363.4,311091.0,120374.8,2657797.6,329368.3,263696.4,69549.7,129826.1,...,48606.1,335025.7,1565632.2,157883.3,31659.0,493877.9,491358.2,69721.4,313532.4,35740.3
20,2017,210364.4,51803.1,327495.8,123383.1,2819110.7,350004.4,268310.5,70774.8,134042.7,...,49738.7,345949.8,1665631.8,167254.6,32209.8,509372.8,524814.6,73162.9,321987.7,37453.6
21,2018,221735.5,54734.1,348297.1,128418.9,2997732.8,371749.6,275726.9,73481.3,140660.9,...,52014.9,364104.9,1802511.2,178137.6,33256.3,532892.5,565831.0,77437.6,336294.0,39118.5

In [184]:
# Se cargan el datasets de población por año y por estado
population_year = pd.read_excel('/workspaces/financial-data-analytics/data/US_States_Population_by_Year.xlsx')
population_year.tail(10)

,Year,AL,AK,AZ,AR,CA,CO,CT,DE,FL,...,TN,TX,UT,VT,VA,WA,WV,WI,WY,DC
106,2006,4628981,675302.0,6029141,2821761,36021202,4720423,3517460,859268,18166990,...,6088766,23359580,2525507,622892,7673725,6370753,1827912,5577655,522667,570681
107,2007,4672840,680300.0,6167681,2848650,36250311,4803868,3527270,871749,18367842,...,6175727,23831983,2597746,623481,7751000,6461587,1834052,5610775,534876,574404
108,2008,4718206,687455.0,6280362,2874554,36604337,4889730,3545579,883874,18527305,...,6247411,24309039,2663029,624151,7833496,6562231,1840310,5640996,546043,580236
109,2009,4757938,698895.0,6343154,2896843,36961229,4972195,3561807,891730,18652644,...,6306019,24801761,2723421,624817,7925937,6667426,1847775,5669264,559851,592228
110,2010,4785822,713856.0,6411999,2922297,37336011,5048575,3579345,899731,18852220,...,6356628,25245717,2774346,625792,8025376,6741911,1854176,5689268,564358,605210
111,2011,4801695,722572.0,6472867,2938430,37701901,5119661,3590537,907829,19107900,...,6398389,25657477,2815324,626450,8110188,6822112,1854982,5708785,567631,620427
112,2012,4817484,731081.0,6556236,2949300,38062780,5191709,3594362,916881,19355257,...,6455177,26094422,2855194,626138,8193422,6896325,1856313,5724888,576893,635040
113,2013,4833996,737259.0,6634997,2958765,38431393,5272086,3599341,925240,19600311,...,6497269,26505637,2902787,626855,8270345,6973742,1853595,5742953,583223,649111
114,2014,4849377,736732.0,6731484,2966369,38802500,5355866,3596677,935614,19893297,...,6549352,26956958,2942902,626562,8326289,7061530,1850326,5757564,584153,658893
115,2015,4858979,738432.0,6828065,2978204,39144818,5456574,3590886,945934,20271272,...,6600299,27469114,2995919,626042,8382993,7170351,1844128,5771337,586107,672228

In [185]:
# En vista de que las columnas tienen nombres diferentes en los dos datasets, se comparan:
ds = pd.DataFrame({
    'gdp_year':gdp_year.columns,
    'population_year':population_year.columns
})
ds.head(52)

                gdp_year population_year
0                   Year            Year
1                Alabama              AL
2                 Alaska              AK
3                Arizona              AZ
4               Arkansas              AR
5             California              CA
6               Colorado              CO
7            Connecticut              CT
8               Delaware              DE
9   District of Columbia              FL
10               Florida              GA
11               Georgia              HI
12                Hawaii              ID
13                 Idaho              IL
14              Illinois              IN
15               Indiana              IA
16                  Iowa              KS
17                Kansas              KY
18              Kentucky              LA
19             Louisiana              ME
20                 Maine              MD
21              Maryland              MA
22         Massachusetts              MI
23              Michigan              MN
24             Minnesota              MS
25           Mississippi              MO
26              Missouri              MT
27               Montana              NE
28              Nebraska              NV
29                Nevada              NH
30         New Hampshire              NJ
31            New Jersey              NM
32            New Mexico              NY
33              New York              NC
34        North Carolina              ND
35          North Dakota              OH
36                  Ohio              OK
37              Oklahoma              OR
38                Oregon              PA
39          Pennsylvania              RI
40          Rhode Island              SC
41        South Carolina              SD
42          South Dakota              TN
43             Tennessee              TX
44                 Texas              UT
45                  Utah              VT
46               Vermont              VA
47              Virginia              WA
48            Washington              WV
49         West Virginia              WI
50             Wisconsin              WY
51               Wyoming              DC

La visualización de nombres de los estados y los acronimos muestran que no hay coincidencia. Por lo tanto, se toman las columnas del dataset gdp_year y se convierten a la codificación disponible en el archivo US States

In [186]:
usa_acronyms = pd.DataFrame({
    "State": [
        "Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut",
        "Delaware","District of Columbia","Florida","Georgia","Hawaii","Idaho","Illinois",
        "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
        "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada",
        "New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota",
        "Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina",
        "South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington",
        "West Virginia","Wisconsin","Wyoming"
    ],
    "Alpha code": [
        "AL","AK","AZ","AR","CA","CO","CT","DE","DC","FL","GA","HI","ID","IL","IN","IA",
        "KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM",
        "NY","NC","ND","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VT","VA","WA",
        "WV","WI","WY"
    ]
})
usa_acronyms.head(56)

                   State Alpha code
0                Alabama         AL
1                 Alaska         AK
2                Arizona         AZ
3               Arkansas         AR
4             California         CA
5               Colorado         CO
6            Connecticut         CT
7               Delaware         DE
8   District of Columbia         DC
9                Florida         FL
10               Georgia         GA
11                Hawaii         HI
12                 Idaho         ID
13              Illinois         IL
14               Indiana         IN
15                  Iowa         IA
16                Kansas         KS
17              Kentucky         KY
18             Louisiana         LA
19                 Maine         ME
20              Maryland         MD
21         Massachusetts         MA
22              Michigan         MI
23             Minnesota         MN
24           Mississippi         MS
25              Missouri         MO
26               Montana         MT
27              Nebraska         NE
28                Nevada         NV
29         New Hampshire         NH
30            New Jersey         NJ
31            New Mexico         NM
32              New York         NY
33        North Carolina         NC
34          North Dakota         ND
35                  Ohio         OH
36              Oklahoma         OK
37                Oregon         OR
38          Pennsylvania         PA
39          Rhode Island         RI
40        South Carolina         SC
41          South Dakota         SD
42             Tennessee         TN
43                 Texas         TX
44                  Utah         UT
45               Vermont         VT
46              Virginia         VA
47            Washington         WA
48         West Virginia         WV
49             Wisconsin         WI
50               Wyoming         WY

In [187]:

restult = list(usa_acronyms.loc[usa_acronyms["State"] == "Texas"].index)
restult

[43]

In [188]:
#Mapeo de nombres de estados y su código, se renombran las columnas del dataset gdp_year y se crea un nuevo dataset con los cambios: gdp_year_code.

gdp_year_code = gdp_year
for col in gdp_year_code.columns[1:]:
    index = list(usa_acronyms.loc[usa_acronyms["State"] == col].index)
    alpha_code = list(usa_acronyms.loc[index,"Alpha code"])
    #print(f"index is: {index}, the state is: {col} and the code is: {}")
    gdp_year_code.rename(columns={col:alpha_code[0]}, inplace=True)
    print(f"renaming: {col} for {alpha_code[0]}")

renaming: Alabama for AL
renaming: Alaska for AK
renaming: Arizona for AZ
renaming: Arkansas for AR
renaming: California for CA
renaming: Colorado for CO
renaming: Connecticut for CT
renaming: Delaware for DE
renaming: District of Columbia for DC
renaming: Florida for FL
renaming: Georgia for GA
renaming: Hawaii for HI
renaming: Idaho for ID
renaming: Illinois for IL
renaming: Indiana for IN
renaming: Iowa for IA
renaming: Kansas for KS
renaming: Kentucky for KY
renaming: Louisiana for LA
renaming: Maine for ME
renaming: Maryland for MD
renaming: Massachusetts for MA
renaming: Michigan for MI
renaming: Minnesota for MN
renaming: Mississippi for MS
renaming: Missouri for MO
renaming: Montana for MT
renaming: Nebraska for NE
renaming: Nevada for NV
renaming: New Hampshire for NH
renaming: New Jersey for NJ
renaming: New Mexico for NM
renaming: New York for NY
renaming: North Carolina for NC
renaming: North Dakota for ND
renaming: Ohio for OH
renaming: Oklahoma for OK
renaming: Oregon for OR
renaming: Pennsylvania for PA
renaming: Rhode Island for RI
renaming: South Carolina for SC
renaming: South Dakota for SD
renaming: Tennessee for TN
renaming: Texas for TX
renaming: Utah for UT
renaming: Vermont for VT
renaming: Virginia for VA
renaming: Washington for WA
renaming: West Virginia for WV
renaming: Wisconsin for WI
renaming: Wyoming for WY

In [189]:
gdp_year_code.tail(10)

,Year,AL,AK,AZ,AR,CA,CO,CT,DE,DC,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
12,2009,168348.0,49585.9,243929.4,97058.9,1920061.8,248593.6,236393.2,56871.2,100894.6,...,36193.1,250544.4,1163401.3,113332.9,25867.8,408918.7,353632.0,62957.8,245539.0,36042.2
13,2010,174753.0,52882.5,248210.0,101690.0,1974614.5,255140.5,237653.4,57447.4,106120.3,...,37484.4,255935.8,1237196.8,117960.5,27108.4,422902.0,365551.9,65274.1,254354.1,37401.2
14,2011,181349.8,56259.9,257947.8,106085.4,2050056.8,264431.6,236523.7,60357.4,110076.2,...,41541.5,267659.1,1331220.6,124539.4,28135.1,432392.7,379539.0,68524.9,263881.6,39370.7
15,2012,186299.0,57670.1,268288.8,108745.2,2144497.3,273519.5,243801.0,61975.8,112736.5,...,43444.6,283721.8,1411378.7,128721.0,28887.4,444950.0,400863.3,69399.0,274343.9,38431.7
16,2013,191481.0,56622.8,275199.1,114251.5,2262771.2,288305.2,246632.0,60666.1,114891.0,...,44814.9,292803.9,1502249.8,134252.1,29098.8,455070.0,419345.0,71037.6,282384.6,38922.5
17,2014,194211.0,55523.4,284430.0,117336.7,2395162.3,306571.1,248865.2,66891.0,119841.0,...,46046.5,303809.0,1572818.4,141259.7,29701.3,463477.6,442201.3,71919.2,293884.6,39436.1
18,2015,200402.7,50641.6,297141.2,118761.2,2553772.2,318554.9,260072.6,70969.4,125211.9,...,47752.3,322663.6,1568457.0,149371.6,30729.6,484216.6,470329.3,70281.0,305816.5,37721.5
19,2016,203829.8,49363.4,311091.0,120374.8,2657797.6,329368.3,263696.4,69549.7,129826.1,...,48606.1,335025.7,1565632.2,157883.3,31659.0,493877.9,491358.2,69721.4,313532.4,35740.3
20,2017,210364.4,51803.1,327495.8,123383.1,2819110.7,350004.4,268310.5,70774.8,134042.7,...,49738.7,345949.8,1665631.8,167254.6,32209.8,509372.8,524814.6,73162.9,321987.7,37453.6
21,2018,221735.5,54734.1,348297.1,128418.9,2997732.8,371749.6,275726.9,73481.3,140660.9,...,52014.9,364104.9,1802511.2,178137.6,33256.3,532892.5,565831.0,77437.6,336294.0,39118.5

In [190]:
# Se generan dos dataframe con la query de los años de interés, en este caso 2013 y 2014

years = [2013,2014]
count = 0

for year in years:
    index_gdp = list(gdp_year_code.loc[gdp_year_code["Year"] == years[count]].index)
    index_population = list(population_year.loc[population_year["Year"] == years[count]].index)
    if count > 0:
        gdp_query = pd.concat([gdp_query,gdp_year_code.loc[[index_gdp[0]]]])
        population_query = pd.concat([population_query,population_year.loc[[index_population[0]]]])
    else: 
        gdp_query = gdp_year_code.loc[[index_gdp[0]]]
        population_query = population_year.loc[[index_population[0]]]
    count +=1

gdp_query
#population_query

#new_df = pd.concat([df.loc[[row1]], df.loc[[row2]]], ignore_index=True)

,Year,AL,AK,AZ,AR,CA,CO,CT,DE,DC,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
16,2013,191481.0,56622.8,275199.1,114251.5,2262771.2,288305.2,246632.0,60666.1,114891.0,...,44814.9,292803.9,1502249.8,134252.1,29098.8,455070.0,419345.0,71037.6,282384.6,38922.5
17,2014,194211.0,55523.4,284430.0,117336.7,2395162.3,306571.1,248865.2,66891.0,119841.0,...,46046.5,303809.0,1572818.4,141259.7,29701.3,463477.6,442201.3,71919.2,293884.6,39436.1

In [191]:
population_query = population_query[sorted(population_query.columns)]
gdp_query = gdp_query[sorted(gdp_query.columns)]

In [192]:
ds_2 = pd.DataFrame({
    'gdp_year':gdp_query.columns,
    'population_year':population_query.columns
})
ds_2.head(52)

   gdp_year population_year
0        AK              AK
1        AL              AL
2        AR              AR
3        AZ              AZ
4        CA              CA
5        CO              CO
6        CT              CT
7        DC              DC
8        DE              DE
9        FL              FL
10       GA              GA
11       HI              HI
12       IA              IA
13       ID              ID
14       IL              IL
15       IN              IN
16       KS              KS
17       KY              KY
18       LA              LA
19       MA              MA
20       MD              MD
21       ME              ME
22       MI              MI
23       MN              MN
24       MO              MO
25       MS              MS
26       MT              MT
27       NC              NC
28       ND              ND
29       NE              NE
30       NH              NH
31       NJ              NJ
32       NM              NM
33       NV              NV
34       NY              NY
35       OH              OH
36       OK              OK
37       OR              OR
38       PA              PA
39       RI              RI
40       SC              SC
41       SD              SD
42       TN              TN
43       TX              TX
44       UT              UT
45       VA              VA
46       VT              VT
47       WA              WA
48       WI              WI
49       WV              WV
50       WY              WY
51     Year            Year

In [193]:
gdp_query = gdp_query.drop(columns=["Year"])
population_query = population_query.drop(columns=["Year"])

population_query_aligned = population_query.reindex_like(gdp_query)

In [194]:
gdp_query/population_query_aligned

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN