In [8]:
# Se importan las librerías 

import numpy as np
import pandas as pd

In [9]:
# Se carga la base de datos, se convierte de csv a un dataframe de pandas

dataset = pd.read_csv('/workspaces/financial-data-analysis/data/Coca_cola_prices.csv')
dataset.head(5)

         Date   Price    Open    High     Low     Vol. Change %
0  11/05/2025  136.07  134.00  136.20  133.82   97.81K    1.86%
1  11/04/2025  133.59  131.90  133.89  131.00  378.42K    2.00%
2  11/03/2025  130.97  130.33  131.49  127.09  368.57K    0.45%
3  10/31/2025  130.38  131.44  131.49  129.30  387.98K   -1.59%
4  10/30/2025  132.49  130.21  138.90  129.28  695.71K    3.53%

In [10]:
# Calculo del valor promedio y la desviación estándar a la columna precio

price_mean = np.mean(dataset['Price'])
print(f'The mean price is: {price_mean}')

price_std = np.std(dataset['Price'])
print(f'The standar deviation price is: {price_std}')

The mean price is: 124.1437132352941
The standar deviation price is: 9.58485381260155

In [11]:
# Se aplica la fórmula rt=(Pt - Pt-1)/Pt-1

dataset['Returns'] = (dataset['Price']-dataset['Price'].shift(-1))/dataset['Price'].shift(-1)
dataset.head(5)

         Date   Price    Open    High     Low     Vol. Change %   Returns
0  11/05/2025  136.07  134.00  136.20  133.82   97.81K    1.86%  0.018564
1  11/04/2025  133.59  131.90  133.89  131.00  378.42K    2.00%  0.020005
2  11/03/2025  130.97  130.33  131.49  127.09  368.57K    0.45%  0.004525
3  10/31/2025  130.38  131.44  131.49  129.30  387.98K   -1.59% -0.015926
4  10/30/2025  132.49  130.21  138.90  129.28  695.71K    3.53%  0.035321

In [14]:
# Se aplica la fórmula logarítmica: rt = ln(Pt) - ln(Pt-1)

dataset['Returns(log)'] = (np.log(dataset['Price'])-np.log(dataset['Price'].shift(-1)))

dataset.head(5)

,Date,Price,Open,High,Low,Vol.,Change %,Returns,Returns(log)
0,11/05/2025,136.07,134.00,136.20,133.82,97.81K,1.86%,0.018564,0.018394
1,11/04/2025,133.59,131.90,133.89,131.00,378.42K,2.00%,0.020005,0.019807
2,11/03/2025,130.97,130.33,131.49,127.09,368.57K,0.45%,0.004525,0.004515
3,10/31/2025,130.38,131.44,131.49,129.30,387.98K,-1.59%,-0.015926,-0.016054
4,10/30/2025,132.49,130.21,138.90,129.28,695.71K,3.53%,0.035321,0.034711