In [24]:
import pandas as pd
import numpy as np
from scipy.stats import skew, kurtosis

In [25]:
dataset = pd.read_csv('/workspaces/financial-data-analytics/data/Coca_cola_prices.csv')
dataset.head(10)

         Date   Price    Open    High     Low     Vol. Change %
0  11/05/2025  136.07  134.00  136.20  133.82   97.81K    1.86%
1  11/04/2025  133.59  131.90  133.89  131.00  378.42K    2.00%
2  11/03/2025  130.97  130.33  131.49  127.09  368.57K    0.45%
3  10/31/2025  130.38  131.44  131.49  129.30  387.98K   -1.59%
4  10/30/2025  132.49  130.21  138.90  129.28  695.71K    3.53%
5  10/29/2025  127.97  127.00  128.00  126.00  556.72K   -0.12%
6  10/28/2025  128.13  128.45  129.49  126.00  586.22K   -0.03%
7  10/27/2025  128.17  127.71  129.35  127.62  346.91K    0.40%
8  10/24/2025  127.66  127.78  128.05  126.75  323.20K   -0.04%
9  10/23/2025  127.71  129.22  129.44  127.06  346.64K   -1.17%

In [26]:
# Para los cálculos de correlación y covarianza se crea una columna adicional con nombre Returns para que almacene el % de variación en formato float.

dataset['Returns'] = dataset['Change %'].str.replace('%', '').astype(float) / 100
dataset.head(5)

         Date   Price    Open    High     Low     Vol. Change %  Returns
0  11/05/2025  136.07  134.00  136.20  133.82   97.81K    1.86%   0.0186
1  11/04/2025  133.59  131.90  133.89  131.00  378.42K    2.00%   0.0200
2  11/03/2025  130.97  130.33  131.49  127.09  368.57K    0.45%   0.0045
3  10/31/2025  130.38  131.44  131.49  129.30  387.98K   -1.59%  -0.0159
4  10/30/2025  132.49  130.21  138.90  129.28  695.71K    3.53%   0.0353

In [ ]:
# Cálculo descriptivo
promedio = float(np.average(dataset['Price']))
varianza = float(np.var(dataset['Price'], ddof=1)) #varianza muestral
desviacion_estandar = float(np.std(dataset['Price'], ddof=1)) #desviación estándar muestral
asimetria = float(skew(dataset['Price']))
curtosis = float(kurtosis(dataset['Price'])) #Fisher kurtosis (excess kurtosis): normal = 0
covarianza = np.cov(dataset['Price'],dataset['Returns'])[0,1]
correlacion = np.corrcoef(dataset['Price'],dataset['Returns'])[0,1]


print(f'Análisis descriptivo del precio de la acción de coca-cola\nPromedio: {promedio}\nVarianza: {varianza}\nDesviación estándar: {desviacion_estandar}\nAsimetría: {asimetria}\nCurtosis: {curtosis}\ncorrelacion: {correlacion}\ncovarianza: {covarianza}'
      )

Análisis descriptivo del precio de la acción de coca-cola
Promedio: 124.1437132352941
Varianza: 92.20842416838506
Desviación estándar: 9.602521760890994
Asimetría: 0.13418794655495694
Curtosis: -1.0509623745899446
correlacion: 0.14003799337089026
covarianza: 0.026690970154113307

# Desarrollo de la tarea 4
### 1. Fuente de datos de dos acciones de la bolsa de Estados Unidos y hacer el análisis estadístico descriptivo
### 2. Intepretar los resultados
### 3. Histograma de precios 
### 4. Responder a qué función se parece: normal, uniforme, log normal

In [28]:
pip install yfinance -q

Note: you may need to restart the kernel to use updated packages.

In [29]:
import yfinance as yf

In [ ]:
# 1. Fuente de datos

# Descargar datos históricos de la acción de Google en el periodo de un año e intervalo diario.
ticker = yf.Ticker("GOOG") # Google Alphabet 
historial = ticker.history(period="1y", interval="1d")

In [32]:
google = pd.DataFrame(historial)
google.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-11-20 00:00:00-05:00,178.050730,178.329508,174.565981,176.557266,15729800,0.0,0.0
2024-11-21 00:00:00-05:00,174.690431,174.814887,164.589635,168.502518,38839400,0.0,0.0
2024-11-22 00:00:00-05:00,166.431603,167.531783,164.987924,165.844177,24497000,0.0,0.0
2024-11-25 00:00:00-05:00,167.257954,169.717191,166.670513,168.691666,21395700,0.0,0.0
2024-11-26 00:00:00-05:00,168.751415,170.747667,168.691663,169.876480,14937500,0.0,0.0
2024-11-27 00:00:00-05:00,169.936233,170.394235,168.930640,170.075638,12433400,0.0,0.0
2024-11-29 00:00:00-05:00,169.318936,170.125404,168.014647,169.747070,9250700,0.0,0.0
2024-12-02 00:00:00-05:00,169.577814,172.843520,169.528029,172.226212,16593400,0.0,0.0
2024-12-03 00:00:00-05:00,172.365592,173.560375,171.758250,172.266037,15721500,0.0,0.0
2024-12-04 00:00:00-05:00,172.027089,175.661177,171.997220,175.322662,18239800,0.0,0.0

In [36]:
google['Returns'] = (google['Close']-google['Close'].shift(-1))/google['Close'].shift(-1)
google.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Returns
Date,,,,,,,,
2024-11-20 00:00:00-05:00,178.050730,178.329508,174.565981,176.557266,15729800,0.0,0.0,0.047802
2024-11-21 00:00:00-05:00,174.690431,174.814887,164.589635,168.502518,38839400,0.0,0.0,0.016029
2024-11-22 00:00:00-05:00,166.431603,167.531783,164.987924,165.844177,24497000,0.0,0.0,-0.016880
2024-11-25 00:00:00-05:00,167.257954,169.717191,166.670513,168.691666,21395700,0.0,0.0,-0.006975
2024-11-26 00:00:00-05:00,168.751415,170.747667,168.691663,169.876480,14937500,0.0,0.0,-0.001171
2024-11-27 00:00:00-05:00,169.936233,170.394235,168.930640,170.075638,12433400,0.0,0.0,0.001936
2024-11-29 00:00:00-05:00,169.318936,170.125404,168.014647,169.747070,9250700,0.0,0.0,-0.014395
2024-12-02 00:00:00-05:00,169.577814,172.843520,169.528029,172.226212,16593400,0.0,0.0,-0.000231
2024-12-03 00:00:00-05:00,172.365592,173.560375,171.758250,172.266037,15721500,0.0,0.0,-0.017434
2024-12-04 00:00:00-05:00,172.027089,175.661177,171.997220,175.322662,18239800,0.0,0.0,0.010212

In [43]:
def descriptive_statistics(price, returns):
    promedio = float(np.average(price))
    varianza = float(np.var(price, ddof=1)) #varianza muestral
    desviacion_estandar = float(np.std(price, ddof=1)) #desviación estándar muestral
    asimetria = float(skew(price))
    curtosis = float(kurtosis(price)) #Fisher kurtosis (excess kurtosis): normal = 0
    covarianza = np.cov(price,returns)[0,0]
    correlacion = np.corrcoef(price,returns)[0,0]
    print(f'Análisis descriptivo del precio de la acción de {accion}\nPromedio: {promedio}\nVarianza: {varianza}\nDesviación estándar: {desviacion_estandar}\nAsimetría: {asimetria}\nCurtosis: {curtosis}\ncorrelacion: {correlacion}\ncovarianza: {covarianza}'
      )

In [44]:
# Cálculo del promedio
accion = 'Google'
google_price = google['Close']
google_returns = google['Returns']

descriptive_statistics(google_price,google_returns)

Análisis descriptivo del precio de la acción de Google
Promedio: 197.28163592529296
Varianza: 1338.692001294552
Desviación estándar: 36.58814017266459
Asimetría: 1.0268259769035006
Curtosis: 0.034846451742002404
correlacion: 0.9999999999999998
covarianza: 1338.6920012945516

In [ ]:
# Cálculo del promedio
accion = 'Google'
google_price = google['Close']
google_returns = google['Returns']

descriptive_statistics(google_price,google_returns)